<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container container-fluid ">
      <a class="navbar-brand text-primary" href="/feed">Welcome To Facebook</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    </div>
  </nav>